<form
  [formGroup]="contactForm"
  (ngSubmit)="$event.preventDefault(); submitForm()"
>
  <div>
    <label>Your name</label>
    <!-- <input type="text" [formControl]="senderNameControl" /> -->
    <input type="text" formControlName="senderName" />
  </div>
  <div>
    <label>Your email address</label>
    <input type="email" formControlName="senderEmail" />
  </div>
  <div>
    <label>Message</label>
    <textarea rows="3" formControlName="senderMessage"></textarea>
  </div>
  <div>
    <!-- <button type="submit" (click)="$event.preventDefault(); submitForm()">Send Message</button> -->
    <button type="submit" [disabled]="contactForm.invalid">Send Message</button>
  </div>
</form>
